*
!*.*
!*/
*.chdata
data/MNIST
data/MNIST
!examples/data/models/mnist_cnn/*.chdata
!examples/data/datasets/mnist/*.chdata
!scripts/models/cnn/*.chdata
Mason.lock
target/
.DS_Store
!docs/*
.my_chplconfig
.timedata
.vscode
.cls-commands.json
.venv
__pycache__/
