*
!*.*
!*/
*.chdata
data/MNIST
data/MNIST
!data/models/mnist_cnn/*.chdata
!data/datasets/mnist/*.chdata
!scripts/models/cnn/*.chdata
Mason.lock
target/
.DS_Store
!docs/*
.my_chplconfig
.timedata
.vscode
